<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header> 
        <div class="header_color container_header ">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="">
        </div>
    </header>
    <div class="header_color container_header">
        <h1 class="tittle_container">Lorem ipsum dolor sit amet consectetuer</h1>
    </div>
    <main class=margin_contianer>
        <p class="common_padding style_paraghrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim
            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <p class="line_padding style_paraghrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim
            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <p class="common_padding_top small_p">LOREM IPSUM DOLOR</p>
        <div>
            <img class="banner" src="/img/banner_newsletter.png" alt="">
        </div>
        <h3 class="style_tittles">Lorem ipsum dolor sit amet consectetuer</h3>
        <div class="line_padding"><a href="#">Lorem ipsum dolor -></a>
        </div>
        <p class="common_padding_top small_p">LOREM IPSUM DOLOR</p>
        <h3 class="style_tittles">Lorem ipsum dolor sit amet consectetuer</h3>
        <p class="line_padding style_paraghrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim
            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <ul class="common_padding_bottom common_padding_top list">
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://twitter.com/?lang=es">Twitter</a></li>
            <li><a href="https://es-la.facebook.com/">Facebook</a></li>
            <li><a href="https://github.com/">Github</a></li>
        </ul>
        <p class="saludo">Saludos,</p>
        <p class="saludo2 line_padding">Uri y Herni.</p>
        <footer class="common_padding_top">
        <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat.</small>
        </footer>    
    </main>
</body>

</html>